:root{
    /* Colors */
    --primary-color: #5C1111;
    --secundary-color: #250800;
    --accent1-color: #490F1B;
    --accent2-color: #EFF6E0;
    --accent3-color: #ffff;
    /* Fonts */
    --heading-font: 'Playfair Display';
    --paragraph-font: 'Garamond';
}

/* ------------------------------------------------------ */
/* Globals */
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
      
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    color: var(--secundary-color);
    font-family: var(--paragraph-font);
}
header{
    background-color: var(--primary-color);
    padding: 0.5em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: var(--accent3-color);
    z-index: 1;
}
h1,h2,h3,a,footer{
    font-family: var(--heading-font);
}
h1{
    font-size: 2.2em;
    color: var(--primary-color);
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.5em;
}
p, footer{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header img{
    width: 80px;
}
figure {
    margin: 0;
}
img{
    width: 100%;
}
picture img[data-src],
figure img[data-src] {
    filter: blur(1em);
}
picture img,
figure img{
    filter: blur(0em);
    transition: filter 1.5s;
}

/* ------------------------------------------------------ */
/* Navbar */
nav {
    background-color: var(--primary-color);
}
nav ul{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--accent3-color);
}
nav ul li a{
    font-family: var(--heading-font);
    font-size: 1.2em;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--accent3-color);
}
nav ul li a:hover{
    background-color: var(--accent3-color);
    color: var(--primary-color);
    border-radius: 15px;
}
nav ul.open{
    display: block;
    z-index: 1;
}
nav a{
    display: flex;
}
a{
    text-decoration: none;
}
.header_time{
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid var(--accent2-color);
    font-size: 1em;
}
.container{
    display: flex;
    justify-content: space-between;
}
.containerLogo{
    text-decoration: none;
    color: var(--accent2-color);
}
.titleArequipa{
    font-family: var(--heading-font);
    margin: 1.3em .5em 0;
    font-size: 1em;
    letter-spacing: 11px;
}
.titleChamber{
    margin: .3em .5em;
    font-family: var(--paragraph-font);
    font-size: .9em;
    letter-spacing: 1px;
}
#hamburgerBtn{
    cursor: pointer;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}
/* Footer */
footer{
    background-color: var(--primary-color);
    text-align: left;
    padding: 1.5em 3em;
    font-size: .8em;
    color: var(--accent3-color);
}
.footer_logo{
    text-align: center;
}
.footer_logo a img{
    width: 40%;
}
.social_container{
    display: flex;
    width: 50%;
    height: auto;
    margin: 2em 0;
}
.social_container img{
    width: 70%;
}
.quick_links_container{
    margin: 2em 0 3em;
}
.container_qlinks p{
    margin: .7em 0;
}
.information_text a,
.information_text p,
.container_qlinks a
{
    font-size: 1.1em;
    color: var(--accent3-color);
    position: relative;
    transition: color 0.3s ease-in-out;
}
.container_qlinks a::before, 
.information_text a::before{
    content: "";
    position: absolute;
    top: 115%;
    width: 100%;
    height: 2px;
    background-color: var(--accent3-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.container_qlinks a:hover, 
.information_text a:hover{
    color: var(--accent3-color);
}  
.container_qlinks a:hover::before,
.information_text a:hover::before {
    transform: scaleX(1);
}
.span_section2{
    display: none;
}
.second_section_container{
    text-align: center;
}
.second_section_container p{
    font-size: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------------*/
/* Home Page Styles */
/* Main Section Home Page*/
#index-main{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
#index-main h2{
    font-family: var(--paragraph-font);
}
main section, .spotlight_section{
    width: 100%;
    height: 100%;
    background-color: var(--accent2-color);
    border: 1px solid var(--accent1-color);
    padding: 1em;
}
.hero_section{
    padding: 0;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_section h1{
    margin: 0; 
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 1em;
    font-size: 2em;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.join-button button{
    font-size: 1.3em;
}
.join-button{
    position: absolute;
    z-index: 1;
    background-color: var(--accent1-color);
    border: none;
    border-radius: 20px;
    color: var(--accent3-color);
    padding: 1em;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin: 1em 1em;
    font-size: 1.3em;
}
.join-button:hover{
    background-color: var(--accent3-color);
    color: var(--primary-color);
    border: 2px dashed var(--secundary-color);
}
@media screen and (max-width: 360px) {
    .hero_section h3{
        font-size: 1.5em;
    }
    .join-button, .container_windspeed p, .container_windchill p{
        font-size: 1em;
    }
}
.event_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1em;
    text-align: center;
    background-color: var(--accent1-color);
    justify-items: center;
    align-items: center;
    color: var(--accent3-color);
    border-radius: 20px;
}
.event_section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event_section div p{
    margin: 0 0 1em;
    font-size: 1.5em;
}
.event_section div a{
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--accent2-color);
    padding: .5em 1em;
    border-radius: 20px;
}
.event_section div a:hover{
    background-color: var(--primary-color);
    border: 2px dashed var(--accent3-color);
    color: var(--accent3-color);
}
.event_section h3{
    grid-column: 1/3;
    font-family: var(--heading-font);
    font-size: 1.5em;
}
.event_section img{
    max-height: 250px;
}
.news_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    border-radius: 20px;
    font-size: 90%;
}
.news_section h3{
    font-family: var(--heading-font);
    margin: 1em 0 .5em;
}
.news_section hr{
    width: 80%;
}
.spotlight_section{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    border: 2px dashed var(--accent1-color);
    border-radius: 20px;
}
.spotlight_section div{
    max-width: 450px;
    border: 1px solid var(--secundary-color);
    padding: 1em;
    text-align: center;
    color: var(--accent3-color);
    border-radius: 10px;
    background-color: var(--accent1-color);
}
.spotlight_section h3{
    font-family: var(--heading-font);
}
.spotlight3 {
    display: none;
}
.spotlight1 img,
.spotlight2 img{
    width: 30%;
}
.spotlight_section a{
    text-decoration: none;
    color: var(--accent2-color);
}
.spotlight_section a:hover{
    color: var(--accent2-color);
    text-decoration: underline;
}
.join_section{
    display: none;
}
.weather_section{
    padding: 2em 1em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    border-radius: 20px;
}
.weather_section h2{
    margin: 0;
    font-family: var(--heading-font);
    grid-column: 1/3;
    margin-bottom: .5em;
}
.weather_section img{
    width: 70px;
    margin: auto;
    grid-column: 1/2;
}
.temperature{
    font-size: 2.5em;
    margin: .5em 0;
}
.weather_time{
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0;
    margin-top: .5em;
    text-align: right;
    margin-right: 1.7em;
}
.weather_section hr{
    width: 100%;
    grid-column: 1/3;
    grid-row: 4/5;
}
.container_windspeed, .container_windchill{
    display: flex;
    flex-direction: row;
    grid-column: 1/3;
    justify-content: space-around;
}
.container_windspeed{
    grid-row: 5/6;
}
.container_windchill{
    grid-row: 6/7;
}
.container_windspeed p, .container_windchill p{
    margin: .5em 0;
}

/* ------------------------------------------------------ */
/* Discover Page */ 
/* Main section */
#main_discover{
    margin: 0;
    display: block;
}
#hero_discover{
    margin: 0;
    position: relative;
    z-index: 0;
}
.hero_image_discover{
    width: 100%;
    opacity: .9;
}
.text_hover_discover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent3-color);
    text-align: center;
    width: calc(100%);
    opacity: 85%;
    z-index: inherit;
}
.text_hover_discover h2{
    font-size: 1em;
}
.about_arequipa_container p{
    font-size: 1.8em;
    padding: 2em 2em 1em;
    text-align: center;
}
.box1_container{
    padding: 0 1em 2em;
}
.box1_container h3{
    background-color: var(--primary-color);
    margin: 2em 3em;
    padding: 2em 1em 3em;
    text-align: center;
    color: var(--accent3-color);
    font-size: 1em;
    border-radius: 25px 25px 0 0;
}
.box1_container picture{
    position: relative;
    top: -50px;
}
.box1_container picture img{
    border-radius: 50px 0;
}
.box2_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 1em 1em 5em;
}
.icon_box img{
    width: 100px;
}
.icon_box p{
    margin: 0;
    padding: 1em 2em;
    font-size: 1.3em;
}
.introduction_gallery{
    margin: 2em;
    text-align: center;
}
.introduction_gallery p{
    font-size: 1.5em;
    text-align: center;
}
/* Styles for pictures */
.gallery_container_box figure{
    position:relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px var(--secundary-color);
}
.gallery_container_box figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.gallery_container_box  figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent3-color);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.gallery_container_box figure:hover > .capa {
    opacity: 85%;
    visibility: visible;
}
.gallery_container_box figure:hover > .capa h3{
    margin: 12% 0 5%;
}
.gallery_container_box figure:hover > img{
    transform: scale(1.3);
}
.gallery_container_box figure .capa h3{
    font-size: 2.2em;
    color: var(--secundary-color);
    margin-bottom: 1em;
    transition: all 400ms ease-out;
    margin-top: 30px;
    max-width: 1000%;
}
.gallery_container_box figure .capa p{
    color: var(--secundary-color);
    font-size: 1em; 
    line-height: 1.5;
    width: 100%;
    max-width: 80%;
    margin: auto;
}
@media screen and (min-width: 564px) {
    .gallery_container_box figure .capa p{
        font-size: 1.2em;
    } 
}

/* Styles for Slider */
.slider-container {
    position: relative;
    margin: 2em;
}
  
.slider_picture {
    display: flex;
    overflow: hidden;
}
  
.slider_picture img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}
  
.slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
  
.slider-controls button {
    background: transparent;
    border: none;
    font-size: 6em;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.slider-controls button:hover {
    transform: scale(1.5);
}

.localstorage{
    text-align: center;
    font-size: 1.2em;
    margin: 3em 1em;
}

/* ------------------------------------------------------ */
/* Join Us Style */
#join-main{
    display: block;
}
.join-container{
    margin: 0;
    text-align: center;
}
.text_hover_discover{
    padding: 0 2em;
    font-size: .7em;
}
#membership-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0;
    gap: 1em;
    text-align: center;
}
.price-month{
    font-size: .5em;
}
.membership-block{
    border: 1px solid var(--accent1-color);
    position: relative;
    margin: 0 auto;
    min-width: 280px;
    max-width: 350px;
    height: 200px;
    background-color: var(--accent3-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px var(--secundary-color);
    overflow: hidden;
    transition: height 0.5s;
    margin-bottom: 2em;
}
.membership-free:hover{
    height: 300px;
}
.membership-bronze:hover{
    height: 350px;
}
.membership-silver:hover{
    height: 380px;
}
.membership-gold:hover{
    height: 400px;
}
.membership-block:hover .membership-details{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    padding: 0 1em;
    text-align: center;
    font-size: 1em;
}
.membership-details{
    list-style: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
.membership-bronze .membership-details{
    top: 50%;
}
.membership-free .membership-details{
    top: 55%;
}
.membership-silver .membership-details, .membership-gold .membership-details{
    top: 45%;
}
.membership-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 2em;
    text-align: center;
}
.membership-info h2{
    margin: 0;
}
.membership-info h3{
    margin: 0;
    margin-top: .5em;
}
.select-membership{
    margin: 0 auto;
    width: 50%;
    padding: .2em;
    font-size: 1.5em;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.select-membership:hover{
    background-color: var(--accent3-color);
    border: 2px solid var(--accent1-color);
    color: var(--secundary-color);
}
#join-form-container{
    margin: 2em;
    padding: 2em 1em;
    border-radius: 25px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    display: block;
}
.join-form{
    margin: 0 1em;
    color: var(--accent3-color);
}
.camp label{
    font-size: 1.3em;
}
.camp input, .camp textarea, .camp select{
    margin: .5em 0;
    width: 100%;
    padding: .5em 0;
    padding-left: .5em;
    font-size: 1.3em;
    border: 1px solid var(--secundary-color);
    border-radius: 10px;
}
.camp textarea{
    height: 150px;
}
.camp .joinBtn{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
.joinBtn{
    cursor: pointer;
    border-radius: 25px;
    background-color: var(--secundary-color);
    color: var(--accent3-color);
}
.joinBtn:hover{
    background-color: var(--accent3-color);
    color: var(--primary-color);
}
/* Thank You Styles */
#thank-main{
    margin: 5em;
    display: block;
    text-align: center;
}
#thank-main figure img{
    width: 100%;
}

/* ------------------------------------------------------ */
/* Directory Page Styles */
#main_directory{
    display: block;
    margin: 1em;
    text-align: center;
}
.directory_title{
    margin: 5em 1em;
}
.directory_title p{
    margin-top: 2em;
    font-size: 1.5em;
}
.menu_directory button{
    cursor: pointer;
    border: 2px solid black;
    padding: .2em .3em 0;
}
.menu_directory button img{
    width: 30px;
    margin: 0 auto;
}
#directory_container section{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 1em;
    box-shadow: 0 0 5px 5px var(--secundary-color);
}
.icon-directory{
    width: 50%;
    margin-top: 1em;
}
.grid_container {
	display: grid;
    gap: 2em 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1em;
}
.grid_container section {
	flex-direction: column;
	text-align: center;
}
.list_container {
	display: flex;
	flex-direction: column;
    margin: 2em;
}
.list_container section div{
    display: flex;
    flex-direction: column;
}
.list_container section div h2, .list_container section div p{
    margin: 0em;
    line-height: 2em;
}
.list_container section img {
	display: none; 
}
.list_container section:nth-child(even) {
	background-color: var(--accent1-color);
    color: var(--accent2-color);
}
.list_container section{
    overflow: auto;
}

/* ------------------------------------------------------ */
/* Contact Page Styles */
.container_contact{
    display: block;
    margin: 3em 1em 5em;
}
.board-information{
    padding: 1em;
    text-align: center;
}
.directory-contacts div{
    text-align: center;
    margin-bottom: 4em;
}
.directory-contacts div img{
    width: 150px;
    border-radius: 50%;
}
.directory-contacts div .president-image{
    width: 200px;
}
.directory-charge{
    font-weight: bold;
    font-size: 1.5em;
}
.form-contact{
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    padding: 1em 3em;
    box-shadow: 0px 10px 20px 0px var(--primary-color);
}
.contact-camp input, .contact-camp textarea{
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    padding-left: 0;
    margin: 0 0 1em 0;
    border: none;
    box-shadow: inset 0 -2.5px 0 rgba(192, 192, 192, 0.1);
    transition: box-shadow 1.5s;
    border-radius: 0px;
}
.contact-camp textarea{
    height: 100px;
} 
::placeholder{
    color: #ffffff9d;
}
.contact-camp input:focus, .contact-camp textarea:focus{
    outline: none;
    box-shadow: inset 0 -2.5px 0 var(--accent3-color);
}
.contact-camp input:-webkit-autofill{
    padding-left: .5em;
    color: var(--accent3-color);
    border-radius: 10px;
}
.contact-camp .label-requiered[for]:after{
    content: "*";
    color: var(--accent3-color);
}
.container_info{
    display: flex;
}
.sendBtn{
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}
.sendBtn:hover {
    transform: translateY(-5px);
}
.sendBtn-camp{
    width: calc(70%);
    margin: auto;
}
.info_contact_container{
    padding: 3em 1.5em;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid var(--secundary-color);
    box-shadow: 0px 10px 20px 0px var(--primary-color);
}
.info_contact_container div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5em 0 1.5em .5em;
}
.info_contact_container div p{
    margin: .3em 0;
}
.info_contact_container div img{
    margin-right: 1em;
    width: 50px;
    height: 50px;
}
.span-contact{
    font-weight: bold;
    font-size: 1.2em;
}
.info_contact_container div.schedule-information{
    display: block;
    margin: 0;
}
.info_contact_container .container_info-schedule{
    margin: 0;
    margin-left: .5em;
}

.modal{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal-content{
    text-align: center;
    font-size: 2em;
    background-color: var(--accent3-color);
    border: 5px solid var(--secundary-color);
    margin: 15% auto;
    padding: 0 2em 1em;
    border: 1px solid #888;
    width: 90%;
    border-radius: 25px;
}
.modal-content img{
    width: 100px;
}  