@media screen and (min-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 60% 38.5%;
    }
    .hero_section, .news_section, .spotlight_section, .join_section{
        grid-column: 1/3;
    }
    .hero_section{
        width: 100%;
        height: 100%;
    }
    .news_section{
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .spotlight_section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 100%;
        gap: 1em;
        grid-row: 3/4;
    }
    .weather_section{
        grid-column: 1/3;
        width: 50%;
    }
    .weather_section-grid{
        grid-column: 2/3;
        width: 100%;
    }

    .join_section{
        display: flex;
        flex-direction: column;
        grid-row: 4/5;
    }
    .join_section a{
        padding: .5em 0;
        width: 90%;
        margin: 0 auto 1em;
        border: none;
        border-radius: 20px;
        color: var(--primary-color);
        text-decoration: none;
        font-size: 1.4em;
        background-color: var(--accent3-color);
    }
    .join_section h3{
        width: 80%;
        margin: 1em auto 1.2em;
    }
    .join_section a:hover{
        background-color: var(--primary-color);
        border: 2px dashed var(--accent3-color);
        color: var(--accent3-color);
    }
    .join_image{
        display: none;
    }
    /* Footer */
    footer{
        text-align: left;
    }
    .first_section_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5em;
    }
    .location_container{
        grid-column: 1/3;
    }
    .social_container{
        grid-column: 2/3;
    }
    .location_container iframe{
        width: 100%;
        height: 300px;
    }
    .information_container{
        text-align: left;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
    }
    .information_container img{
        width: 100%;
    }
    .second_section_container{
        display: flex;
        justify-content: center;

    }
    .second_section_container p{
        margin-left: 0.5em;
    }
    .span_section2{
        visibility: visible;
    }
    /* Discover Page */
    .text_hover_discover{
        font-size: 1.3em;
    }
    .gallery_container_box{
        margin: 5em;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1em;
    }
    .slider-controls button{
        display: none;
    }
    @media screen and (max-width:932px){
        .gallery_container_box figure .capa p{
            font-size: 1em;
        }
        .gallery_container_box figure .capa h3{
            font-size: 1.2em;
        }
    }
    .box2_container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 1em 1em 5em;
        text-align: center;
    }
    .icon_box img{
        width: 35%;
    }
}